*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.form{
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 370px;
    height: 500px;
    border-radius: 12px;
    margin-top: 90px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.input{
    height: 30px;
    width: 300px;
}
h1{
    transform: translateY(-80px);
}
body{
    background-image: url(/assets/img/03-luchshie-yazyki-programmirovaniya.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.button{
    font-family: "Kanit", sans-serif;
    margin-top: 50px;
    box-shadow: 0 5px 15px 0 rgb(208, 208, 209);
  transition: 0.5s;
  border-radius: 6px;
  padding: 14px 40px;
  text-decoration: none;
  background-color: #ddd6d6;
  color: #000000;
  font-weight:bolder;
  font-size: 25px;
}
.button:hover{
    transform: translate(0,-3px);
    box-shadow: 0 20px 40px 0 rgb(185, 187, 190);
}